/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 21-nov-2017, 14.13.57
    Author     : fuckuppista
*/



.btn-outline-secondary{
    border: none;
}

.justify-content-center{
    margin: auto;
    width: 400px;
    height: 400px;
    top: 50%;
    left: 50%;
}

.ul {
    text-align: left;
}


#srch-term {
    width: 500px;
}

